<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>

  <body>
    <%- include('../partials/nav.ejs') %>
    <main class="container">
      <section class="row">
        <section class="blog_details p-4 border-primary col-12">
          <h2 class="blog_heading"><%= blog.title%></h2>
          <p class="blog_details_body text-secondary"><%= blog.body%></p>
          <a class="delete-btn" data-doc="<%= blog._id %>">
            <i class="fas fa-trash" alt="delete"></i>
          </a>
        </section>
      </section>
    </main>

    <%- include('../partials/footer.ejs') %>
    <script>
      const trashCan = document.querySelector("a.delete-btn");
      trashCan.addEventListener("click", (e) => {
        const endpoint = `/blogs/${trashCan.dataset.doc}`;

        fetch(endpoint, {
          method: "DELETE",
        })
          .then((response) => response.json())
          .then((data) => (window.location.href = data.redirect))
          .catch((err) => console.log(err));
      });
    </script>
  </body>
</html>
